html { 
	background: url(../images/background.png) no-repeat center center fixed; 
	background-size: cover;
}

#container  
{  
} 

#container .transparency  
{  
	opacity:0.8;
	filter:alpha(opacity=80);  
	-moz-opacity:0.8;  
	background-color:#cccccc;
	width:650px;  
	height:230px;  
	position:absolute;  
	top:60%;  
	left:0px;
	z-index:-1;  
}  

.content  
{  
	width:640px;
	height:250px;
	position:absolute;
	top:60%;
	left:0px;
	z-index:1;
} 

ul {
	list-style-type: none;
	height: 250px;
	width: 640px;
	margin: auto;
}

li {
	margin-top: 10px;
	float: left;
}

#navigation { list-style: none; margin: 0; padding: 0; }
#navigation li { float: left; }
#navigation li a { text-indent: -999999px; overflow: hidden; display: block; height: 200px; margin: 5px;} 

a#project1:link { background-image: url(../images/project1.png); width: 149px; }
a#project1:hover { background-image: url(../images/project1-hover.png) }
a#project2:link { background-image: url(../images/project2.png); width: 149px; }
a#project2:hover { background-image: url(../images/project2-hover.png) }
a#project3:link { background-image: url(../images/project3.png); width: 149px; }
a#project3:hover { background-image: url(../images/project3-hover.png) }
a#project4:link { background-image: url(../images/project4.png); width: 149px; }
a#project4:hover { background-image: url(../images/project4-hover.png) }